<div class = 'container'>
  <div class = 'row justify-content-center'>
    <div class = 'col-md-6 col-12 text-center'>
      <%= image_tag @group.get_group_image %>
      <h2 class = 'text-center mb-4'><%= @group.name %></h2>
      <%= @group.category.name %><br>
      <%= @group.introduction %><br>
      グループオーナー<%= @group.owner.nickname %><br>
      <% @group.active_members.each do |member| %>
        <%= link_to member_path(member.id) do %>
          <%= image_tag member.get_profile_image %>
        <% end %>
      <% end %>
<%#
  SELECT 1 
  FROM memberships 
  WHERE member_id = current_member.id 
  AND group_id = @group.id 
  AND is_active = true 
  LIMIT 1;
%>
      <% if current_member.memberships.where(group_id: @group.id, is_active: true).exists? %>
        入会中
        <% if @group.owner.id == current_member.id %>
          <%= link_to '編集する', edit_group_path(@group.id), class: 'btn btn-secondary' %>
        <% end %>
        <% elsif @group.active_members.count >= 5 %>
        満員
      <% else %>
        <%= link_to '入会する', group_memberships_path(@group.id), method: :post, class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>