<h1 class='border-bottom pb-3 mb-3 text-center'><%= title %></h1>
<%= link_to '＋New Group', new_group_path, class: 'btn btn-outline-primary btn-lg mb-3' %>

<div class='row d-flex justify-content-center'>
  <% groups.each do |group| %>
    <div class='col-6 col-md-3 mt-2'>
      <div class='rounded shadow custom_back'>
        <%= link_to infomation_path(group.id), class: 'text-dark', style: 'text-decoration: none;' do %>
          <%= image_tag group.get_group_image(400, 200), class: 'img-fluid w-100' %><br>
          <h3 class='text-center border-top py-3'><%= group.name %></h3>
        <% end %>
      </div>
    </div>
  <% end %>
</div>