<div class = 'container mt-4'>
  <h3 class = 'fw-bold border-bottom pb-2 mb-4 text-center'>
    <%= @category.name %>グループ
  </h3>
  <%= link_to 'グループ作成', new_group_path, class: 'btn btn-warning' %>
  <div class = 'row justify-content-center'>
    <% @category.groups.each do |group| %>
      <div class = 'col-6 col-md-4 mb-4 col-lg-3'>
        <%= link_to group_path(group.id), style: 'text-decoration: none;' do %>
          <%= image_tag group.get_group_image %><br>
          <%= group.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

