<div class = 'container mt-4'>
  <h3 class = 'fw-bold border-bottom pb-2 mb-4 text-center'>
    カテゴリー一覧・追加
  </h3>
  <div class = 'row mb-4'>
    <div class = 'col-12 col-md-8 mx-auto'>
      <div class = 'p-3 border rounded bg-light'>
        <%= form_with model: [:admin, @category] do |f| %>
          <label>カテゴリー名</label>
          <%= f.text_field :name, class: 'form-control', placeholder:'カテゴリー名' %>
          <%= f.submit 'カテゴリー追加', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-12 col-md-8 mx-auto'>
    <table class = 'table align-middle border'>
      <thead class = 'table-light'>
        <tr>
          <th>カテゴリー</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to '編集する', edit_admin_category_path(category.id), class: 'btn btn-success' %></td>
            <td><%= link_to '削除する', admin_category_path(category.id), method: :delete, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>