<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-lg-4 col-md-4 col-sm-8'>
      <h1 class='text-center border-bottom'>Edit Profile</h1>

      <% if @member.errors.any? %>
        <% @member.errors.each do |attribute, message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      
      <div class='d-flex justify-content-center'>
        <%= image_tag @member.get_profile_image(130, 130) %>
      </div>

      <%= form_with model: @member, url: profile_path, method: :patch do |f| %>
        <div class='form_group mb-3'>
          <%= f.label :profile_image, 'Profile Image', class: 'form-label' %>
          <%= f.file_field :profile_image, accept: "image/jpeg, image/png, image/webp" %>
        </div>

        <div class='form_group mb-3'>
          <%= f.label :nickname, 'NickName', class: 'form-label' %>
          <%= f.text_field :nickname, class: 'form-control' %>
        </div>

        <div class='form_group mb-3'>
          <%= f.label :birth_year, 'Birth Year', class: 'form-label' %><br>
          <%= f.select :birth_year, options_for_select((1965..2014)), class: 'form-control', prompt: '選択してください' %>
        </div>

        <div class='form_group mb-3'>
          <%= f.label :gender, 'Gender', class: 'form-label' %><br>
          <% @member.gender_option.each do |key, value| %>
            <%= f.radio_button :gender, key %>
            <%= f.label :gender, value %>
          <% end %>

          <div class='form_group mb-3'>
          <%= f.label :email, 'E-Mail', class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class='d-flex justify-content-center mt-4'>
          <%= f.submit 'Update', class: 'btn btn-outline-secondary w-50' %>
          <%= link_to 'Delete Account', unsubscribe_path, class: 'btn btn-outline-danger w-50' %>
        </div>

        
      <% end %>

    </div>
  </div>
</div>