<h1>マイページ</h1>

<%= image_tag @member.get_profile_image %>
<table class = "index-table">
  <tbody>
    <tr>
      <th>ニックネーム</th>
      <th><%= @member.nickname %></th>
    </tr>
    <tr>
      <th>性別</th>
      <th><%= @member.gender_i18n %></th>
    </tr>
    <tr>
      <th>年代</th>
      <th><%= @member.age_group %></th>
    </tr>
  </tbody>
</table>
<%= link_to 'プロフィール編集', profile_edit_path %>

カレンダー