<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-8 col-12 text-center'>
      <h1 class='border-bottom text-center mt-5 mb-4'>MyPage</h1>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-5 col-12'>
      <table class='table rounded shadow custom_back'>
        <tbody>
        <div class='d-flex justify-content-center'>
        <%= image_tag @member.get_profile_image(150, 150), class: 'mb-3' %>
        </div
          <tr>
            <th>NickName</th>
            <th><%= @member.nickname %></th>
          </tr>
          <tr>
            <th>Gender</th>
            <th><%= @member.gender_i18n %></th>
          </tr>
          <tr>
            <th>Age Groups</th>
            <th><%= @member.age_group %></th>
          </tr>
          <tr>
            <th>Groups</th>
            <th>
              <% @member.memberships.active.each do |membership| %>
                <%= link_to membership.group.name, group_path(membership.group.id), class: 'text-dark' %><br>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>Owner Groups</th>
            <th>
              <% @member.owner_groups.each do |mygroup| %>
                <%= link_to mygroup.name, information_path(mygroup.id),class: 'text-dark' %><br>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>

      <div class='mt-3 text-center'>
        <%= link_to 'Edit Profile', profile_edit_path, class: 'btn btn-outline-dark w-50' %>
      </div>
    </div>

    <div class='col-md-7 col-12 mt-4'>
      <div id='calendar'></div>
    </div>
  </div>
</div>
