<!DOCTYPE html>
<html>
  <head>
    <title>SuRu</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src='https://kit.fontawesome.com/5b36eeef0b.js' crossorigin='anonymous'></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class='navbar navbar-expand-md navbar-light bg-custom shadow-sm'>
        <div class='container-fluid'>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', alt: 'SuRu ロゴ', class: 'navbar-brand-logo' %>
          <% end %>

          <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='メニューを開く'>
            <span class='navbar-toggler-icon'></span>
          </button>

          <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav ml-auto'>

              <% if member_signed_in? %>
                <li class='nav-item'><%= link_to 'MyPage', mypage_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'Category', categories_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'Log Out', destroy_member_session_path, method: :delete, class: 'nav-link' %></li>

              <% elsif admin_signed_in? %>
                <li class='nav-item'><%= link_to '会員一覧', admin_root_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'グループ一覧', admin_groups_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'カテゴリ一覧', admin_categories_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>

              <% else %>
                <li class='nav-item'><%= link_to 'Sign Up', new_member_registration_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'Log In', new_member_session_path, class: 'nav-link fs-4' %></li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <% flash.each do |key, message| %>
      <% bootstrap_class = case key.to_s %>
        <% when 'notice' then 'info' %>
        <% when 'alert' then 'danger' %>
        <% else 'info' %>
      <% end %>
    
      <div class='alert alert-<%= bootstrap_class %> alert-dismissible' role='alert'>
        <%= message %>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
    <% end %>
  
    <%= yield %>

  </body>

    <footer>
    </footer>
</html>
